__pycache__/
*.pyc
venv/
.DS_Store
.env
*.log
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/bdd-to-ibdd-nlp.iml
/.claude/
/documentacion/
/documentación/
/documentación/
